@use './variables/colors' as color;
@use './mixins/containers' as container;
@use './mixins/media-queries' as screen;

.html {
	scroll-behavior: smooth;
}

.body {
	background-color: color.$light;
	margin: 0;
	overflow-x: hidden;  // hide elements that animate out of frame horizontally
	padding: 0;
}

.page-transition-container {
	@include container.page-transition-container;
}