$footer-padding-lg: 0 8.5rem;  	// correlate with #contact .wrapper padding
$footer-padding-md: 0 5.5rem;
$footer-padding-sm: 0 1.5rem;

$heading-default: 3.5rem;
$heading-sm: 5.2rem;
$heading-md: 6.25rem;
$heading-lg: 6.75rem;

$menu-border-size: 2.5rem;

$modal-min-height: 59.4rem;

$scroll-line-height-def: 8.75rem;
$scroll-line-height-md: 12.5rem;

$scrollbar-width: 0.5rem;

// Menu Modal content
$modal-content-width-default: 12.5rem;
$modal-content-width-xs: 13.35rem;
$modal-content-width-sm: 16.25rem;
$modal-content-width-md: 18.75rem;
$modal-content-width-lg: 20.31rem;