$footer-padding-md: 0 7.5rem;  	// correlate with #contact .wrapper padding
$footer-padding-sm: 0 1.5rem;

$menu-border-size: 2.5rem;

$modal-min-height: 59.4rem;

$scroll-line-height-def: 8.75rem;
$scroll-line-height-md: 12.5rem;