:root {
  --aqua: #d4e2d4;
  --darker-aqua: #b8ceb8;
  --peach: #ecb390;
  --salmon: #df7861;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--darker-aqua);
  filter: brightness(80%);
}

::-webkit-scrollbar-thumb {
  background: var(--salmon);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--peach);
}

html {
  /* max-width: 100vw; */
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
}

body {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
