@use '../mixins/button-focus' as btn-focus;
@use '../variables/colors' as color;
@use '../variables/fonts' as font;
@use '../mixins/media-queries' as screen;
@use '../variables/transitions' as transition;

/*******************************
     	   H E A D I N G
/*******************************/
.about {
	background-color: color.$tan;
	height: auto;
	overflow-y: hidden;								// hide bg illustrations when we nudge them down to make content more legible
	padding-bottom: 5.75rem;						// make room for bg illustrations
	position: relative;
	transition: all 200ms transition.$transition-timing 50ms;

	@include screen.atXSmall {
		padding-bottom: 8rem;
	}
	@include screen.atSmall {
		padding-bottom: 12rem;
	}
	@include screen.atMedium {
		padding-bottom: 16rem;
	}
}

.header {
	aspect-ratio: 1024/560;
	position: relative;
	width: 100%;

	@include screen.atXSmall {
		aspect-ratio: 1024/550;
	}
	@include screen.atSmall {
		aspect-ratio: 1024/540;
	}
	@include screen.atMedium {
		aspect-ratio: 1024/520;
	}
	@include screen.atXLarge {
		aspect-ratio: 1024/500;
	}
	@include screen.at2XLarge {
		aspect-ratio: 1024/480;
	}
}

.header-img-container {
	top: -2px;						// hide dark line at the top of header image
	height: 100%;
	position: absolute;
	width: 100%;
}

.header-img {
	bottom: 0;
	height: auto;
	width: 100%;
}

.body-container {
	height: auto;
	max-height: 48rem;
	transition: all 200ms transition.$transition-timing 50ms;

	@include screen.atXSmall {
		height: 40rem;
	}
	@include screen.atSmall {
		height: 44.5rem;
	}
	@include screen.atMedium {
		height: 47.5rem;
	}
}

.content-container {
	background-color: color.$brown;
	margin: -0rem auto;
	padding: 0.5rem 1.25rem;
	position: relative;
	max-width: none;
	width: 90%;

	@include screen.atSmall {
		padding: 2rem 2.5rem;
		width: 85%;
	}
	@include screen.atMedium {
		padding: 2.25rem 3.5rem;
		width: 75%;
	}
	@include screen.atLarge {
		max-width: 71.875rem;
		padding: 2.75rem 5rem;
		width: 70%;
	}
}

.content-heading-container {
	align-items: center;
	display: flex;
	justify-content: space-between;
	left: 1rem;
	position: absolute;
	right: 1rem;
	top: -2.45rem;

	@include screen.atXSmall {
		top: -3.2rem;
	}
	@include screen.atSmall {
		flex-direction: row;
		top: -4.7rem;
	}
	@include screen.atMedium {
		left: 2rem;
		right: 2rem;
		top: -5.4rem;
	}
	@include screen.atLarge {
		top: -5.95rem;
	}
}

.content-heading {
	color: color.$brown;
	font-family: font.$wide;
	font-size: 2.65rem;
	font-weight: 800;

	@include screen.atXSmall {
		font-size: 3.5rem;
	}
	@include screen.atSmall {
		font-size: 5.2rem;
	}
	@include screen.atMedium {
		font-size: 6.05rem;
	}
	@include screen.atLarge {
		font-size: 6.75rem;
	}
}

/*******************************
     	   A B O U T   M E
/*******************************/
.content-text {
	color: color.$light;
	font-family: font.$wide;
	font-size: 0.75rem;
	line-height: 1.85;

	@include screen.atXSmall {
		font-size: 0.8rem;
		line-height: 2;
	}
	@include screen.atSmall {
		font-size: 0.95rem;
		line-height: 2.16;
	}
	@include screen.atMedium {
		font-size: 1rem;
		line-height: 2.25;
	}
}

.content-p {
	margin: 1.5rem 0;
}

/*******************************
       S K I L L S E T S
/*******************************/
.row {
	align-items: center;
	display: flex;
	width: 100%;
	border-bottom: 2px solid color.$aqua;

	&:first-of-type {
		padding-top: 1rem;

		@include screen.atSmall {
			padding-top: 0;
		}
	}

	&:last-of-type {
		border-bottom: none;
	}
}

.label {
	border-right: 2px solid color.$aqua;
	flex: 1;
	max-width: 50%;
	padding: 1rem 0.35rem;

	@include screen.atXSmall {
		padding: 1.25rem;
	}
	@include screen.atSmall {
		padding: 1.5rem 2rem;
	}
}

.label-text {
	color: color.$aqua;
	font-family: font.$heading;
	font-size: 0.75rem;
	letter-spacing: 0.05rem;

	@include screen.atXSmall {
		font-size: 0.9rem;
	}
	@include screen.atSmall {
		font-size: 0.95rem;
		letter-spacing: 0.25rem;
	}
	@include screen.atMedium {
		font-size: 1.1rem;
	}
}

.graph {
	padding: 0 0.35rem 0 0.85rem;
	width: 50%;

	@include screen.atSmall {
		padding: 0 2.5rem;
	}
}

/********************************
 B G   I L L U S T R A T I O N S
/********************************/
.illustrations {
	bottom: 0;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	position: absolute;
	width: 100%;
}

.left-container,
.right-container {
	// bottom: -0.25rem;
	position: relative;
	z-index: 2;
}

.left-container {
	bottom: -0.25rem;
	left: -2.45rem;
	max-width: 50.25rem;
	width: 49vw;

	@include screen.atXSmall {
		left: -3.85rem;
		width: 45vw;
	}
	@include screen.atSmall {
		left: -5rem;
	}
	@include screen.atMedium {
		left: -0.125rem;
		width: 48vw;
	}
	@include screen.atLarge {
		width: 42vw;
	}
	@include screen.atXLarge {
		width: 40vw;
	}
}

.right-container {
	bottom: -0.4rem;
	margin-top: auto;
	max-width: 43.25rem;
	right: -1.25rem;
	width: 46vw;

	@include screen.atXSmall {
		right: -2.5rem;
	}
	@include screen.atSmall {
		bottom: -0.55rem;
		right: -3rem;
	}
	@include screen.atMedium {
		right: 0;
		width: 45vw;
	}
	@include screen.atLarge {
		width: 40vw;
	}
}

.left-img,
.right-img {
	height: 100%;
	width: 100%;
}