@use '../mixins/button-focus' as btn-focus;
@use '../variables/colors' as color;
@use '../variables/fonts' as font;
@use '../mixins/media-queries' as screen;
@use '../variables/transitions' as transition;

.button {
	background-color: transparent;
	border: 1px solid color.$salmon;
	color: color.$light;
	cursor: pointer;
	font-family: font.$wide;
	font-size: 0.9rem;
	font-weight: 500;
	letter-spacing: 0.15rem;
	outline-color: color.$aqua;
	overflow: hidden;
	padding: 1em 2em;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	transition: transition.$transition;
	transition-duration: 200ms;
	z-index: 2;

	@include screen.atXSmall {
		font-size: 0.9rem;
		padding: 1.15em 1.5em;
	}
	@include screen.atSmall {
		font-size: 1rem;
		letter-spacing: 0.25rem;
		padding: 1.25em 1.9em;
	}

	&:before {
		background-color: color.$salmon;
		bottom: -0.63rem;
		content: '';
		right: 0;
		position: absolute;
		top: -0.63rem;
		transition: all 300ms ease-out;
		width: 100%;
		z-index: -1;
	}

	&:hover {
		color: color.$salmon;
		transition: color 200ms transition.$transition-timing;

		&:before {
			transition: transition.$transition;
			width: 0;
		}
	}

	&:focus {
		@include btn-focus.focus(color.$light, color.$salmon);
	}
}

.disabled {
	background-color: transparent;
	border: 1px solid #9c9c9c;
	color: #9c9c9c;
	cursor: default;

	&:hover {
		color: #9c9c9c;
	}

	&::before {
		background-color: transparent;
	}
}

.button-dark {
	border: 1px solid color.$dark;
	outline-color: color.$salmon;

	&:before {
		background-color: color.$dark;
	}

	&:hover {
		color: color.$dark;
		transition: color 300ms transition.$transition-timing;
	}

	&-outline {
		color: color.$dark;

		&:before {
			display: none;
		}
	}

	&:focus {
		@include btn-focus.focus(color.$light, color.$dark);
	}
}