@use '../variables/colors' as color;
@use '../mixins/media-queries' as screen;

.circles-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 100%;
	padding-right: 0rem;

	@include screen.atXSmall {
		padding-right: 0.25rem;
	}
	@include screen.atSmall {
		padding-right: 1.35rem;
	}
	@include screen.atMedium {
	}
	@include screen.atLarge {
		padding-right: 3.75rem;
	}
}

.circle {
	background-color: transparent;
	border: 3px solid color.$aqua;
	border-radius: 100%;
	flex-shrink: 0;
	height: 1rem;
	overflow: hidden;
	position: relative;
	width: 1rem;

	@include screen.atXSmall {
		height: 1.15rem;
		width: 1.15rem;
	}
	@include screen.atSmall {
		height: 1.75rem;
		width: 1.75rem;
	}
}

.full {
	background-color: color.$aqua;
}