@use '../variables/colors' as color;
@use '../mixins/containers' as container;
@use '../variables/fonts' as font;
@use '../mixins/media-queries' as screen;
@use '../variables/sizes' as size;
@use '../variables/transitions' as transition;

.projects {
	background-color: color.$light;
	@include container.section;
}

.wrapper {
	@include container.wrapper;
}

.heading-container {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	justify-content: space-between;

	@include screen.atSmall {
		flex-direction: row;
		gap: 3rem;
	}
	@include screen.atMedium {
		gap: 5rem;
	}
	@include screen.atLarge {
		align-items: center;
		gap: 6rem;
	}
}

.heading {
	color: color.$salmon;
	font-family: font.$wide;
	font-size: size.$heading-default;
	font-weight: 800;
	letter-spacing: -0.1rem;
	margin-block-start: 0;
	margin-block-end: 0;

	@include screen.atSmall {
		font-size: size.$heading-sm;
	}
	@include screen.atMedium {
		font-size: size.$heading-md;
	}
	@include screen.atLarge {
		font-size: size.$heading-lg;
	}
}

.sub-heading {
	color: rgba(color.$dark, 0.85);
	font-family: font.$wide;
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 1.8rem;
	padding-top: 0;

	@include screen.atSmall {
		font-size: 0.8rem;
		line-height: 1.5rem;
		padding-top: 1.15rem;
	}
	@include screen.atMedium {
		font-size: 0.83rem;
		line-height: 1.6rem;
	}
	@include screen.atLarge {
		font-size: 0.9rem;
		line-height: 1.8rem;
		padding-top: 0;
	}
	@include screen.atXLarge {
		font-size: 1rem;
		line-height: 2rem;
	}
}

.body-container {
	display: grid;
	grid-gap: 0.6rem;
	grid-template-columns: repeat(1, 100%);
	margin-top: 2rem;
	width: 100%;

	@include screen.atSmall {
		grid-gap: 1.1rem;
		grid-template-columns: repeat(2, auto);
		margin-top: 3rem;
	}
	@include screen.atMedium {
		grid-gap: 1.25rem;
	}
	@include screen.atLarge {
		grid-gap: 1rem;
		grid-template-columns: repeat(3, auto);
	}
}